.Header {
   min-height: 50vh;
   background-color: aliceblue;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 2rem;
   background-size: cover;
   color: white;
   /* text-shadow: 0 0 1px white; */
   background-position: center;
   text-align: right;
   font-size: 2rem;
}
.Header h1 {
   margin: 0;
   font-family: 'Dancing Script', cursive;
   font-size: 7rem;
}
.Header p {
   font-family: 'Dancing Script', cursive;
}
