.Header {
   min-height: 60vh;
   background-color: aliceblue;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 2rem;
   background-size: cover;
   color: rgb(82, 28, 79);
   /* text-shadow: 0 0 1px white; */
   background-position: center;
   text-align: center;
   font-size: 2rem;
}
.Header h1 {
   margin: 0;
   font-family: 'Dancing Script', cursive;
   font-size: 7.5rem;
}
.Header p {
   font-family: 'Lemonada', cursive;
}