.ProductItem img {
   width: 100%;
   object-fit: cover;
   object-position: center;
   margin-bottom: 10px;
   border-radius: 0.5rem;

   transform: scale(1);
   transition: 0.3s ease-in-out;

}

.ProductItem img:hover {
   transform: scale(1.05);
}

.ProductItem {
   position: relative;
   flex: 0 0 335px;
   margin: 0 auto;
   margin-bottom: 2rem;
   margin-top: 1rem;
   text-align: center;
}

.ProductItem a {
   color: #0b1c2c;
   margin-top: 15px;
   text-transform: lowercase;
   text-decoration: none;
   text-align: center;
   transition: 0.2s ease-in-out;
   font-size: 1.5rem;
}

.ProductItem a::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 1px;
   border-radius: 4px;
   background-color: #000000;
   bottom: -5px;
   left: 0;
   transform-origin: right;
}

.ProductItem a:hover::before {
   box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
   transition: 0.3s ease-in;
   cursor: pointer;
   transform-origin: left;
   transform: scaleX(1);
}