.Nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: rgb(230, 177, 212);
   color: rgb(56, 47, 56);
   padding: 0 1rem;
   font-size: 3rem;
   font-weight: bold;

}
.Nav ul {
   list-style: none;
   padding: 0 1.5rem;
   margin: 0;
   display: flex;
}
.Nav {
   font-family: 'Dancing Script', cursive;
}