.Nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: rgb(10, 25, 99);
   color: white;
   padding: 0 1rem;
   font-size: 2rem;

}
.Nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
}
.Nav a{
   display: block;
   padding: .5rem 1rem;
   color: white;
   font-size: .8rem;
   text-decoration: none;
   font-size: 20px;
}
.Nav a:hover{
   background-color: rgb(2, 8, 90);
}
.Nav div {
   font-family: 'Dancing Script', cursive;
}